{:paths ["src"]
 :deps {town.lilac/flex-dom {:git/url "https://github.com/lilactown/flex-dom"
                             :git/sha "01151b2bab68b7584df1e93048ffd94c4df3ab56"}
        #_{:local/root "../flex-dom"}
        thheller/shadow-cljs {:mvn/version "LATEST"}}}
